// Gray Shades
$gray-200: #D9D9D9;
$gray-500: #F6F6F6;
$gray-700: #F0F0F0;
$gray-800: #F0F1F1;
$gray-900: #E9EAEB;
$gray-2200: #DEECF1;
$gray-2300: #EEEEFC;
$gray-2400: #E0E0E0;
$gray-2500: #B7B7B7;
$gray-1100: #DBDBDB;
$gray-1300: #C9C9C9;
$gray-1900: #DFDFDF;
$gray-1600: #E3E5E7;
$gray-1400: #B0B0B0;
$gray-100: #A4A4A4;
$gray-600: #9A9A9A;
$gray-300: #828282;
$gray-400: #8C8C8C;
$gray-1000: #939393;
$gray-1700: #A0A0A0;
$gray-1800: #959595;
$gray-2100: #8B8B8B;
$gray-1200: #707070;
$gray-2000: #757575;
$gray-1500: #626262;

// Blue Shades
$blue-100: #A3AED0;    // Lightest
$blue-200: #4E54AB;
$blue-300: #2E52B2;
$blue-400: #383874;    
$blue-500: #0B243F;

// White Shades
$white-100: #FFFFFF;
$white-200: #FEFEFE;

// Red Shades
$orange-100: #FF5C00;
$orange-200: #FF5646;
$red-100: #D80027;

// Other Colors
$purple-100: #7733FF;
$green-100: #76FEB5;
