.layout-temp {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 70px 1fr;
}

.sidebar-temp {
  background: black;
  grid-column: 1/2;
  grid-row: 1/3;
}

.header-temp {
  background: white;
  grid-column: 2/3;
  grid-row: 1/2;
}

.main-temp {
  background: gray;
}
