.activities {
  padding: 25px 0px;
  border-radius: 5px;
  height: 100%;
  background: white;
}

.activities__header__title {
  font-size: 24px;
  padding: 0 20px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 28px;
}

.activities__data__item {
  padding: 0 20px;
  padding-bottom: 23px;
  border-bottom: solid 1px #f4f4f4;

  &__message {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #1d1d1d;
  }

  &__date {
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    color: #636566;
  }
}
