.data-grid {
  height: 100%;
}

.data-grid__table {
  height: calc(100% - var(--datagrid-footer-height));
}

.data-grid__table--no-footer {
  height: 100%;
}

.data-grid__footer {
  height: var(--datagrid-footer-height);
  border: 1px solid var(--my-border-color);
  background: var(--my-header-background-color);
}

.ag-root-wrapper {
  border: none;
}


.ag-header {
  background: #f1f4f9;
  color: #333;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  height: 48px !important;
  display: flex;
}


.ag-header-cell {
  height: 48px !important;
}

.ag-cell {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}
