.user-documents {
  padding: 30px 40px;
  background: white;
  width: 100%;
  border-radius: 8px;
}

.user-documents__title {
  font-size: 24px;
  font-weight: bold;
}

.user-documents__empty-container {
  margin-top: 45px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}


.user-documents__text-container {
  text-align: center;

  .user-documents__message {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 4px;
    color: black;
  }

  .user-documents__description {
    font-size: 14px;
    line-height: 20px;
    color: #797a7c;
  }
}
