.request-summary {
  width: 100%;
  height: fit-content;
  background: #eff0f3;
  border-radius: 4px;
  border: 1px #c9c8d7 solid;
  padding: 18px 36px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.request-summary__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.request-summary__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.request-summary__item__label {
  font-size: 14px;
  line-height: 18px;
  color: #9c9ea0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  font-weight: bold;
}

.request-summary__item__value {
  font-size: 16px;
  line-height: 21px;
  color: #4d4e50;
}

.request-summary__link {
  display: flex;
  justify-content: center;
  a {
    font-size: 16px;
    line-height: 21px;
    color: #07a6ff;
  }
}
