.tabs-container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.tabs-list-container {
  padding: 20px 27px;
  background: #ecebf3;
  border-radius: 8px;
}

.tabs-list {
  list-style-type: none;
  padding: 0;
  width: 165px;
}

.tab {
  height: 20px;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  
  &:not(:last-child){
    margin-bottom: 18px;
  }
}

.tab:hover {
  background-color: #f0f0f0;
}

.tab.active {
  font-weight: bold;
  padding-left: 10px; /* Adjust padding as needed */
}

.tab::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 20px; 
  background-color: #4C1C72;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tab.active::before {
  opacity: 1;
}

.children-container {
  flex: 1;
}