@import "../../styles/mixins/responsive.scss";

.change-password-page__form {
  background: #fff;
  border-radius: 30px;
  padding: 40px 64px;
  width: 100%;
}

.change-password-page__form .form-group {
  margin-bottom: 20px;
}

.change-password-page__form form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
